@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color : #121212;
  background-color : white;
}

html {
  scroll-behavior: smooth;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: white;
}